<div class="header">
  <%= render "layouts/navbar" %>
  <div class="text-center header-info">
    <h1><%= link_to @cocktail.name, cocktail_path(@cocktail) %></h1>
  </div>
  <div class="cocktail-new">
    <%= render 'form-edit', cocktail: @cocktail %>
  </div>
</div>
