<div class="header">
  <%= render "layouts/navbar" %>
  <div class="text-center header-info">
    <h1>Want to celebrate something?</h1>
    <h3><a href="#below">Try our cocktails</a></h3>
    <div id="arrows">
      <p><i class="fas fa-chevron-down"></i></p>
      <p><i class="fas fa-chevron-down"></i></p>
      <p><i class="fas fa-chevron-down"></i></p>
    </div>
  </div>
</div>

<div class="container" id="cards-cocktails">
  <h2 class="text-center">Choose your favourite cocktail</h2>
  <div class="row justify-content-center" id="below">
    <% @cocktails.each do |cocktail| %>
      <div class="card-cocktail text-center">
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
    <% end %>
  </div>
</div>
