.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: transparent ;
  transition: 0.2s background-color ease;
  height: 58px;
  padding: 8px 20px 5px 16px;
  font-family: 'Oswald', sans-serif;
  h3 {
    a {
      font-weight: normal;
      font-size: 20px;
      text-decoration: none;
      color: rgb(220, 220, 220);
      &:hover {
        color: #CA802C;
        transition: 0.5s;
      }
    }
  }
}

.navbar-lewagon-white {
  background-color: rgb(220, 220, 220);
  text-shadow: none;
  h3 {
    a {
      color: black;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
