.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 44px;
  padding: 10px 28px 0 18px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  h3 {
    a {
      font-weight: normal;
      font-size: 20px;
      text-decoration: none;
      color: rgb(200, 200, 200);
      &:hover {
        color: #CA802C;
        transition: 0.5s;
      }
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
